@font-face {
  font-family: 'ALS Story';
  src: url('../static/font/ALSStory.woff2') format('woff2'),
      url('../static/font/ALSStory.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

